<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Parfumery</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="stylesheet" href="../css/about-us.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/slick.css">
</head>

<body>

    <header>
        <div class="mob-menu">
            <div class="menu">
                <div class="container">
                    <div class="some-menu">
                        <img src="../img/burger-menu-img.png" alt="" class="open-nav">
                        <img src="../img/fetish-logo.png" alt="logo" onclick="document.location.href='index.html'" class="logo">
                        <div class="left-part-head">
                            <a class="search open-search">
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #FFFFFF;
                                            stroke: #FFFFFF;
                                            stroke-width: 10;
                                            stroke-miterlimit: 10;
                                        }
                                    </style>
                                    <g>
                                        <path class="st0" d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11
                                    C103.4,11,11,103.5,11,217.5S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0
                                    C503,487.1,503,474.1,495,466.2z M217.5,382.9C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5
                                    S308.7,382.9,217.5,382.9z" />
                                    </g>
                                </svg>
                            </a>
                            <a href="basket.html" class="bags">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489.9 489.9" style="enable-background:new 0 0 489.9 489.9;" xml:space="preserve">
                                    <style type="text/css">
                                        .st0 {
                                            fill: #FFFFFF;
                                            stroke: #FFFFFF;
                                            stroke-width: 12;
                                            stroke-miterlimit: 10;
                                        }
                                    </style>
                                    <g>
                                        <g>
                                            <g>
                                                <path class="st0" d="M414.3,109.4c-0.8-8.8-8.2-15.6-17.1-15.6H344C341.3,41.6,297.9,0,245,0s-96.2,41.6-99,93.8H92.9
                                            c-8.9,0-16.3,6.8-17.1,15.6l-27.6,311c0,0.5-0.1,1-0.1,1.5c0,37.5,34.2,68,76.2,68h241.2c42,0,76.2-30.5,76.2-68
                                            c0-0.5,0-1-0.1-1.5L414.3,109.4z M245.1,34.3c34,0,61.9,26.2,64.6,59.5H180.4C183.1,60.5,211.1,34.3,245.1,34.3z M365.6,455.7
                                            H124.4c-22.8,0-41.5-14.8-41.9-33.1l26.2-294.5h37.2v36.6c0,9.5,7.7,17.2,17.2,17.2s17.2-7.7,17.2-17.2v-36.6H310v36.6
                                            c0,9.5,7.7,17.2,17.1,17.2c9.5,0,17.2-7.7,17.2-17.2v-36.6h37.2l26.2,294.5C407.1,440.9,388.5,455.7,365.6,455.7z" />
                                                <path class="st0" d="M290.9,249.6l-66.6,66.6l-25-25c-6.7-6.7-17.6-6.7-24.3,0s-6.7,17.6,0,24.3l37.1,37.1c3.3,3.3,7.7,5,12.1,5
                                            c4.4,0,8.8-1.7,12.1-5l78.7-78.7c6.7-6.7,6.7-17.6,0-24.3C308.5,242.9,297.5,242.9,290.9,249.6z" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <p class="colProducts">12</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="drop-menu" style="display: none;">
                <div class="some-links">
                    <a href="otlivants.html">Отливанты</a>
                    <a href="catalog.html">Каталог</a>
                    <a href="about-us.html">О компании</a>
                    <a href="delivery-pay.html">Доставка и оплата</a>
                    <a href="contact.html">Контакты</a>
                    <a href="FAQ.html">FAQ</a>
                    <a href="delivery-pay.html#bonus">Бонусы</a>
                </div>
                <div class="main-area">
                    <a href="javascript:void(0);" class="main-areaPopUp"><img src="../img/main-area-img.png" alt="main-area">
                        <p>Личный кабинет</p>
                    </a>
                </div>
                <div class="soc">
                    <a href="#"><img src="../img/telegram-img.png" alt="telegram"></a>
                    <a href="#"><img src="../img/telegram2-img.png" alt="telegram"></a>
                    <a href="#"><img src="../img/viber-img.png" alt="telegram"></a>
                </div>
            </div>
        </div>
        <div class="desc-menu menuDescHead active1">
            <div class="menu">
                <div class="container">
                    <div class="some-menu">
                        <div class="left-links">
                            <img src="../img/main-burger-menu-img.png" alt="" class="open-menu-dop">
                            <a href="otlivants.html">Отливанты</a>
                            <a href="catalog.html">Каталог</a>
                            <a href="about-us.html">О компании</a>
                            <div class="some-drop-menu-dop" style="display: none;">
                                <a href="FAQ.html">FAQ</a>
                                <a href="delivery-pay.html#bonus">Бонусы</a>
                            </div>
                        </div>
                        <div class="right-links">
                            <a href="delivery-pay.html">Доставка и оплата</a>
                            <a href="contact.html">Контакты</a>
                            <a href="javascript:void(0);" class="main-areaPopUp"><img src="../img/main-area-img.png" alt="">
                                <p>Личный кабинет</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="under-menu">
                <div class="container">
                    <div class="some-under-menu">
                        <div class="left-block">
                            <a href="tel:+7 (495) 649-85-43">+7 (495) 649-85-43</a>
                            <p class="write-we">Написать нам</p>
                        </div>
                        <img src="../img/fetish-logo.png" alt="" class="logo-img" onclick="document.location.href='index.html'" style="cursor: pointer;">
                        <div class="right-block">
                            <div class="search">
                                <input type="text" placeholder="Поиск">
                                <img src="../img/search-img.png" alt="" class="open-search" style="cursor: pointer;">
                            </div>
                            <div class="basket">
                                <a href="#" class="some-basket">
                                    <img src="../img/bags-img.png" alt="">
                                    <div onclick="document.location.href='basket.html'">
                                        <p>Корзина <b>(12)</b></p>
                                        <p>25 000 RUB</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="drop-search" style="display: none;">
            <div class="container">
                <div class="some-search">
                    <div class="search">
                        <img src="../img/search-img-white.png" alt="search">
                        <input type="search" placeholder="Введите название парфюма">
                    </div>
                    <div class="category-blocks">
                        <p>Все результаты</p>
                        <p>Мужские</p>
                        <p>Женские</p>
                        <p>Унисекс</p>
                    </div>
                    <div class="all-rec-products">
                        <div class="some-product">
                            <img src="../img/first-porfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/second-perfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/third-porfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/first-porfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/second-perfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/third-porfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/first-porfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/second-perfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/third-porfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="popUp-mainArea" style="display: none;">
    </div>

    <div class="some-popUp popUp" style="display: none;">
        <h3>Политика конфиденциальности</h3>
        <div class="some-info">
            <p>
                1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
            </p>
            <p>
                1.1 В настоящей Политике конфиденциальности используются следующие
                термины:
            </p>
            <p>
                1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » –
                уполномоченные сотрудники на управления сайтом, действующие от имени
                интернет-магазина Fellini, которые организуют и осуществляет обработку
                персональных данных, а также определяет цели обработки персональных данных,
                состав персональных данных, подлежащих обработке, действия или операции
                совершаемые с персональными данными.
            </p>
            <p>
                1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или
                косвенно определенному или определяемому физическому лицу (субъекту
                персональных данных).
            </p>
            <p>
                1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
            </p>
            <p>
                1.1 В настоящей Политике конфиденциальности используются следующие
                термины:
            </p>
            <p>
                1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » –
                уполномоченные сотрудники на управления сайтом, действующие от имени
                интернет-магазина Fellini, которые организуют и осуществляет обработку
                персональных данных, а также определяет цели обработки персональных данных,
                состав персональных данных, подлежащих обработке, действия или операции
                совершаемые с персональными данными.
            </p>
            <p>
                1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или
                косвенно определенному или определяемому физическому лицу (субъекту
                персональных данных).
            </p>
            <p>
                1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
            </p>
            <p>
                1.1 В настоящей Политике конфиденциальности используются следующие
                термины:
            </p>
            <p>
                1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » –
                уполномоченные сотрудники на управления сайтом, действующие от имени
                интернет-магазина Fellini, которые организуют и осуществляет обработку
                персональных данных, а также определяет цели обработки персональных данных,
                состав персональных данных, подлежащих обработке, действия или операции
                совершаемые с персональными данными.
            </p>
            <p>
                1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или
                косвенно определенному или определяемому физическому лицу (субъекту
                персональных данных).
            </p>
        </div>
        <span class="close-popUp"><img src="../img/close-popUp.png" alt=""></span>
    </div>

    <div class="some-popUp-ask popUp" style="display: none;">
        <h3>Задать вопрос</h3>
        <form action="">
            <div>
                <p>Введите ваше имя</p>
                <input type="text" placeholder="Иванов Иван">
            </div>
            <div>
                <p>Введите ваш e-mail</p>
                <input type="email">
            </div>
            <div>
                <p>Введите вопрос</p>
                <textarea></textarea>
            </div>
            <button class="black-but open-thank">отправить</button>
        </form>
        <span class="close-popUp"><img src="../img/close-popUp.png" alt=""></span>
    </div>

    <div class="popUp-thank popUp" style="display: none;">
        <div>
            <div class="info">
                <h4>Спасибо за ваш заказ!</h4>
                <h5>Наш менеджер свяжется с вами в течении 15 мин</h5>
                <img src="../img/close.png" alt="Close" class="close-pop-basket">
            </div>
        </div>
    </div>
    <div class="personalArea-popUp" style="display: none;">
        <div class="some-popUp-personalArea">
            <div class="headline-select">
                <h4 class="loginHeadline active-click">Вход</h4>
                <h4 class="registrHeadline">Регистрация</h4>
            </div>
            <form action="" class="login" style="display: block;">
                <div>
                    <p>Введите ваш e-mail или логин</p>
                    <input type="email" placeholder="mymail@gmail.com">
                </div>
                <div>
                    <p>Введите ваш пароль</p>
                    <input type="password">
                </div>
                <a href="personal-area.html">
                    <button class="black-but" type="submit">Войти</button>
                </a>
            </form>
            <form action="" class="registration" style="display: none;">
                <div>
                    <p>Введите ваше имя</p>
                    <input type="email">
                </div>
                <div>
                    <p>Введите ваш e-mail</p>
                    <input type="email" placeholder="mymail@gmail.com">
                </div>
                <div>
                    <p>Введите ваш пароль</p>
                    <input type="password">
                </div>
                <a href="personal-area.html">
                    <button class="black-but" type="submit">Войти</button>
                </a>
            </form>
            <span class="close-popUp"><img src="../img/close-popUp.png" alt=""></span>
        </div>
    </div>

    <main>
        <div class="container">
            <ul class="crumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="basket.html">О компании</a></li>
            </ul>
        </div>

        <div class="about-company">
            <div class="container">
                <h5>О компании</h5>
                <div class="some-blocks">
                    <div class="block-with-img"><img src="../img/img-about-us.png" alt=""></div>
                    <div class="block-with-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="why-we-block">
            <div class="mob-why-we-all">
                <div class="container">
                    <div class="slide-we">
                        <div class="one-slide-we">
                            <div class="some-slide yellow">
                                <span>01</span>
                                <h4>Viverra aliquet</h4>
                                <p>Nunc maecenas nunc phar
                                    etra, rutrum aptent ullam kusfar
                                    corper cras adipiscing</p>
                            </div>
                        </div>
                        <div class="one-slide-we">
                            <div class="some-slide purple">
                                <span>02</span>
                                <h4>Viverra aliquet</h4>
                                <p>Nunc maecenas nunc phar
                                    etra, rutrum aptent ullam kusfar
                                    corper cras adipiscing</p>
                            </div>
                        </div>
                        <div class="one-slide-we">
                            <div class="some-slide red">
                                <span>03</span>
                                <h4>Viverra aliquet</h4>
                                <p>Nunc maecenas nunc phar
                                    etra, rutrum aptent ullam kusfar
                                    corper cras adipiscing</p>
                            </div>
                        </div>
                        <div class="one-slide-we">
                            <div class="some-slide purple">
                                <span>04</span>
                                <h4>Viverra aliquet</h4>
                                <p>Nunc maecenas nunc phar
                                    etra, rutrum aptent ullam kusfar
                                    corper cras adipiscing</p>
                            </div>
                        </div>
                        <div class="one-slide-we">
                            <div class="some-slide yellow">
                                <span>05</span>
                                <h4>Viverra aliquet</h4>
                                <p>Nunc maecenas nunc phar
                                    etra, rutrum aptent ullam kusfar
                                    corper cras adipiscing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desc-why-we-all">
                <div class="container">
                    <div class="some-why-we">
                        <div class="one-why-we">
                            <div class="some-slide yellow">
                                <span>01</span>
                                <h4>Viverra aliquet</h4>
                                <p>Nunc maecenas nunc phar
                                    etra, rutrum aptent ullam kusfar
                                    corper cras adipiscing</p>
                            </div>
                        </div>
                        <div class="one-why-we">
                            <div class="some-slide purple">
                                <span>02</span>
                                <h4>Viverra aliquet</h4>
                                <p>Nunc maecenas nunc phar
                                    etra, rutrum aptent ullam kusfar
                                    corper cras adipiscing</p>
                            </div>
                        </div>
                        <div class="one-why-we">
                            <div class="some-slide red">
                                <span>03</span>
                                <h4>Viverra aliquet</h4>
                                <p>Nunc maecenas nunc phar
                                    etra, rutrum aptent ullam kusfar
                                    corper cras adipiscing</p>
                            </div>
                        </div>
                        <div class="one-why-we">
                            <div class="some-slide purple">
                                <span>04</span>
                                <h4>Viverra aliquet</h4>
                                <p>Nunc maecenas nunc phar
                                    etra, rutrum aptent ullam kusfar
                                    corper cras adipiscing</p>
                            </div>
                        </div>
                        <div class="one-why-we">
                            <div class="some-slide yellow">
                                <span>05</span>
                                <h4>Viverra aliquet</h4>
                                <p>Nunc maecenas nunc phar
                                    etra, rutrum aptent ullam kusfar
                                    corper cras adipiscing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="why-about">
            <div class="container">
                <div class="all-blocksAboutUs">
                    <div class="some-blocksAboutUs">
                        <div class="img-blocksAboutUs"><img src="../img/1-imgAbout.png" alt=""></div>
                        <div class="content-blocksAboutUs">
                            <p>более</p>
                            <h5>5 лет</h5>
                            <p>на рынке</p>
                        </div>
                    </div>
                    <div class="some-blocksAboutUs">
                        <div class="img-blocksAboutUs"><img src="../img/1-imgAbout.png" alt=""></div>
                        <div class="content-blocksAboutUs">
                            <p>более</p>
                            <h5>5 лет</h5>
                            <p>на рынке</p>
                        </div>
                    </div>
                    <div class="some-blocksAboutUs">
                        <div class="img-blocksAboutUs"><img src="../img/2-imgAbout.png" alt=""></div>
                        <div class="content-blocksAboutUs">
                            <p>более</p>
                            <h5>254 835</h5>
                            <p>клиентов</p>
                        </div>
                    </div>
                    <div class="some-blocksAboutUs">
                        <div class="img-blocksAboutUs"><img src="../img/3-imgAbout.png" alt=""></div>
                        <div class="content-blocksAboutUs">
                            <p>мы продали</p>
                            <h5>45 678</h5>
                            <p>флаконов</p>
                        </div>
                    </div>
                    <div class="some-blocksAboutUs">
                        <div class="img-blocksAboutUs"><img src="../img/4-imgAbout.png" alt=""></div>
                        <div class="content-blocksAboutUs">
                            <p>мы отправляем</p>
                            <h5>60 000</h5>
                            <p>заказов в год</p>
                        </div>
                    </div>
                    <div class="some-blocksAboutUs">
                        <div class="img-blocksAboutUs"><img src="../img/5-imgAbout.png" alt=""></div>
                        <div class="content-blocksAboutUs">
                            <p>более</p>
                            <h5>5 лет</h5>
                            <p>на рынке</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscription">
            <div class="container">
                <h5>Мы в соц сетях</h5>
                <div class="all-subscription">
                    <div class="youtube">
                        <div class="head">
                            <div>
                                <img src="../img/youtube.png">
                                <h4>Youtube</h4>
                            </div>
                            <button class="black-but desc">Подписаться</button>
                        </div>
                        <img src="../img/youtube-gallery.png" alt="Gallery">
                        <button class="black-but mob">Подписаться</button>
                    </div>
                    <div class="instagram">
                        <div class="head">
                            <div>
                                <img src="../img/instagram.png">
                                <h4>Instagram</h4>
                            </div>
                            <button class="black-but desc">Подписаться</button>
                        </div>
                        <div class="gallery">
                            <img src="../img/parfume-1.png" alt="parfume" class="square">
                            <img src="../img/parfume-2.png" alt="parfume" class="square">
                            <img src="../img/parfume-3.png" alt="parfume" class="square">
                            <img src="../img/parfume-7.png" alt="parfume" class="desc">
                            <img src="../img/parfume-4.png" alt="parfume" class="square">
                            <img src="../img/parfume-5.png" alt="parfume" class="desc square">
                            <img src="../img/parfume-6.png" alt="parfume" class="desc square">
                            <img src="../img/parfume-8.png" alt="parfume" class="desc">
                        </div>
                        <button class="black-but mob">Подписаться</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-mob">
            <div class="one-block review">
                <div class="all-open-info">
                    <div class="top">
                        <h5 class="video-headline">Видео</h5>
                        <h5 class="active text-headline">Текстовый отзыв</h5>
                    </div>
                    <div class="all-review-text">
                        <div class="one-rev">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                            <div class="people">
                                <h6>Иванов Иван</h6>
                                <h6>25.05.2019г.</h6>
                            </div>
                        </div>
                        <div class="one-rev">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                            <div class="people">
                                <h6>Иванов Иван</h6>
                                <h6>25.05.2019г.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="all-review-video">
                        <div class="one-rev">
                            <div class="video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/7BZ3o7saatk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="people">
                                <h6>Иванов Иван</h6>
                                <h6>25.05.2019г.</h6>
                            </div>
                        </div>
                        <div class="one-rev">
                            <div class="video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/7BZ3o7saatk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="people">
                                <h6>Иванов Иван</h6>
                                <h6>25.05.2019г.</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="one-block quest">
                    <div class="all-open-info">
                        <div class="container">
                            <form action="GET">
                                <div>
                                    <label for="name">Ваше имя</label>
                                    <input type="text" placeholder="Ваше имя" id="name">
                                </div>
                                <div>
                                    <label for="numb">Ваш телефон</label>
                                    <input type="number" placeholder="Ваш телефон" id="numb">
                                </div>
                                <div>
                                    <label for="email">Ваш e-mail</label>
                                    <input type="email" placeholder="Ваш e-mail" id="email">
                                </div>
                                <div>
                                    <label for="ques">Ваш вопрос</label>
                                    <textarea id="ques"></textarea>
                                </div>
                            </form>
                            <button class="black-but">
                                Отправить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-block">
            <div class="container">
                <div class="top-title">
                    <div class="act">
                        <h5 class="first">Описание</h5>
                    </div>
                    <div>
                        <h5 class="second">Отзывы</h5>
                    </div>
                    <div>
                        <h5 class="third">Задать вопрос</h5>
                    </div>
                </div>
            </div>
            <div class="all-opens first-show">
                <div class="descrip first block">
                    <div class="container">
                        <p>Новый парфюм на вашей полочке — это всегда радостное и приятное событие. А туалетная вода от французского бренда — еще и маркер вашего безупречного вкуса. Особенно, если вы не можете остаться равнодушным к пряным композициям, подчеркивающим строгость и силу настоящего современного мужчины. Того, который всегда знает, к чему нужно стремиться, и неизменно достигает намеченной цели. </p>
                        <p>Вашим сопровождающим станет парфюм Man Intense от известного бренда Jimmy Choo. Он одарит своего обладателя сочным всплеском фруктовых акцентов в сочетании с благородным запахом цветов и трав. Влажные пачули и сладковатые бобы тонка обрамляют композицию, придавая ей гармонию и завершенность. Дерзайте вместе с вашим новым фаворитом от Jimmy Choo!</p>
                    </div>
                </div>
                <div class="reviews second block">
                    <div class="container">
                        <div class="type">
                            <h6 class="video">Видео</h6>
                            <h6 class="this text">Текстовый отзыв</h6>
                        </div>
                    </div>
                    <div class="all-text">
                        <div class="one-text">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                            <div class="name">
                                <h5>Иванов Иван</h5>
                                <h5>25.05.2019г.</h5>
                            </div>
                        </div>
                        <div class="one-text">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                            <div class="name">
                                <h5>Иванов Иван</h5>
                                <h5>25.05.2019г.</h5>
                            </div>
                        </div>
                        <div class="one-text">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                            <div class="name">
                                <h5>Иванов Иван</h5>
                                <h5>25.05.2019г.</h5>
                            </div>
                        </div>
                        <div class="one-text">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                            <div class="name">
                                <h5>Иванов Иван</h5>
                                <h5>25.05.2019г.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="all-video">
                        <div class="one-vid">
                            <div class="some-video">
                                <iframe src="https://www.youtube.com/embed/7BZ3o7saatk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="one-vid">
                            <div class="some-video">
                                <iframe src="https://www.youtube.com/embed/7BZ3o7saatk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="one-vid">
                            <div class="some-video">
                                <iframe src="https://www.youtube.com/embed/7BZ3o7saatk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="one-vid">
                            <div class="some-video">
                                <iframe src="https://www.youtube.com/embed/7BZ3o7saatk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="quest third block">
                    <div class="container">
                        <div class="all-form">
                            <div class="top">
                                <input type="text" placeholder="Ваше имя">
                                <input type="number" placeholder="Ваш телефон">
                                <input type="email" placeholder="Ваш e-mail">
                            </div>
                            <textarea placeholder="Напишите ваш вопрос"></textarea>
                            <button class="black-but">
                                Отправить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="follow-block">
            <div class="container">
                <div class="some-follow">
                    <h4>Хотите узнавать последние новости первыми?</h4>
                    <h5>ОФОРМЛЯЙТЕ ПОДПИСКУ!</h5>
                    <form action="#">
                        <input type="text" placeholder="Ваше имя">
                        <input type="email" placeholder="E-mail">
                        <button class="sweet-but">подписаться</button>
                    </form>
                    <div class="check">
                        <input type="checkbox" name="main-area" id="main-area">
                        <label for="main-area" name="main-area">Согласен на <span class="open-popUp-mainArea">обработку персональных данных</span></label>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="main-footer">
            <div class="container">
                <div class="all-footer">
                    <div class="logo">
                        <img src="../img/fetish-logo.png" alt="" onclick="document.location.href='index.html'">
                    </div>
                    <div class="all-links">
                        <div class="one-part">
                            <a href="catalog.html">Каталог</a>
                            <a href="about-us.html">О компании</a>
                            <a href="delivery-pay.html">Доставка и оплата</a>
                        </div>
                        <div class="one-part">
                            <a href="delivery-pay.html#bonus">Бонусы</a>
                            <a href="FAQ.html">FAQ</a>
                            <a href="contact.html">Контакты</a>
                        </div>
                    </div>
                    <div class="contacts">
                        <a href="tel:8 (800) 000 00 40"><img src="../img/phone.png">
                            <p> 8 (800) 000 00 40</p>
                        </a>
                        <a href="mailto:fetish@gmail.com"><img src="../img/mail.png">
                            <p>fetish@gmail.com</p>
                        </a>
                        <a href="#"><img src="../img/location.png">
                            <p>г. Mocква, ул. Уличная 74 / 5</p>
                        </a>
                    </div>
                    <div class="social">
                        <a href="#"><img src="../img/telegram.png" alt="Telegram"></a>
                        <a href="#"><img src="../img/whatsup.png" alt="whatsup"></a>
                        <a href="#"><img src="../img/viber.png" alt="Viber"></a>
                        <a href="#"><img src="../img/youtube.png" alt="Youtube"></a>
                        <a href="#"><img src="../img/instagram.png" alt="Instagram"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <h5>© FETISH, 2019</h5>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/all-text-slide.min.js"></script>
    <script src="../js/slide-we.min.js"></script>
</body>

</html>