<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Parfumery</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="stylesheet" href="../css/FAQ.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/slick.css">
</head>

<body>

    <header>
        <div class="mob-menu">
            <div class="under-menu">
                <div class="container">
                    <div class="some-under-menu">
                        <img src="../img/search-img.png" alt="" class="open-search">
                        <div onclick="document.location.href='basket.html'">
                            <img src="../img/bags-img.png" alt="">
                            <p>(12)</p>
                            <p>25 000 RUB</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="container">
                    <div class="some-menu">
                        <img src="../img/logo-img.png" alt="logo" onclick="document.location.href='index.html'">
                        <img src="../img/burger-menu-img.png" alt="" class="open-nav">
                    </div>
                </div>
            </div>
            <div class="drop-menu" style="display: none;">
                <div class="some-links">
                    <a href="#">Отливанты</a>
                    <a href="#">Каталог</a>
                    <a href="#">О компании</a>
                    <a href="delivery-pay.html">Доставка и оплата</a>
                    <a href="contact.html">Контакты</a>
                    <a href="FAQ.html">FAQ</a>
                    <a href="delivery-pay.html">Бонусы</a>
                </div>
                <div class="main-area">
                    <a href="personal-area.html"><img src="../img/main-area-img.png" alt="main-area"><p>Личный кабинет</p></a>
                </div>
                <div class="soc">
                    <a href="#"><img src="../img/telegram-img.png" alt="telegram"></a>
                    <a href="#"><img src="../img/telegram2-img.png" alt="telegram"></a>
                    <a href="#"><img src="../img/viber-img.png" alt="telegram"></a>
                </div>
            </div>
        </div>
        <div class="desc-menu">
            <div class="menu">
                <div class="container">
                    <div class="some-menu">
                        <div class="left-links">
                            <img src="../img/main-burger-menu-img.png" alt="" class="open-menu-dop">
                            <a href="#">Отливанты</a>
                            <a href="#">Каталог</a>
                            <a href="#">О компании</a>
                            <div class="some-drop-menu-dop" style="display: none;">
                                <a href="FAQ.html">FAQ</a>
                                <a href="delivery-pay.html">Бонусы</a>
                            </div>
                        </div>
                        <div class="right-links">
                            <a href="delivery-pay.html">Доставка и оплата</a>
                            <a href="contact.html">Контакты</a>
                            <a href="personal-area.html"><img src="../img/main-area-img.png" alt=""><p>Личный кабинет</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="under-menu">
                <div class="container">
                    <div class="some-under-menu">
                        <div class="left-block">
                            <a href="tel:+7 (495) 649-85-43">+7 (495) 649-85-43</a>
                            <p>Написать нам</p>
                        </div>
                        <img src="../img/fetish-logo.png" alt="" class="logo-img" onclick="document.location.href='index.html'" style="cursor: pointer;">
                        <div class="right-block">
                            <div class="search">
                                <input type="search" placeholder="Поиск">
                                <img src="../img/search-img.png" alt="" class="open-search" style="cursor: pointer;">
                            </div>
                            <div class="basket">
                                <a href="#" class="some-basket">
                                <img src="../img/bags-img.png" alt="">
                                <div onclick="document.location.href='basket.html'">
                                    <p>Корзина <b>(12)</b></p>
                                    <p>25 000 RUB</p>
                                </div>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="drop-search" style="display: none;">
            <div class="container">
                <div class="some-search">
                    <div class="search">
                        <img src="../img/search-img-white.png" alt="search">
                        <input type="search" placeholder="Введите название парфюма">
                    </div>
                    <div class="category-blocks">
                        <p>Все результаты</p>
                        <p>Мужские</p>
                        <p>Женские</p>
                        <p>Унисекс</p>
                    </div>
                    <div class="all-rec-products">
                        <div class="some-product">
                            <img src="../img/first-porfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/second-perfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/third-porfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/first-porfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/second-perfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/third-porfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/first-porfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/second-perfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                        <div class="some-product">
                            <img src="../img/third-porfum.png" alt="">
                            <div>
                                <h4>Lancome La Vie Est Belle</h4>
                                <p>Eau de Parfum fur Damen</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <ul class="crumbs">
                <li><a href="index.html">Главная</a></li>
                <li><a href="FAQ.html">FAQ</a></li>
            </ul>
            <div class="block-faq">
                <h3>FAQ</h3>
                <div class="all-blocks">
                    <div class="some-block">
                        <div class="for-open-block">
                            <span class="plus">
                            <p>&#10010;</p>
                        </span>
                            <span class="minus">
                            <p>&ndash;</p>
                        </span>
                            <p class="some-text">Metus metus quis rhoncus vitae eum sociosqu, enim sit eu, vel iaculis aliquet faucibus, ultrices massa, molestie nunc?</p>
                        </div>
                        <div class="open-block">
                            <p>Vestibulum blandit. Donec velit gravida etiam, vivamus lobortis, consectetuer nam libero varius maecenas. Nunc fusce adipiscing. Elementum consequat egestas vestibulum at, ante maecenas elit, tellus in sed. Mollis in, elit
                                lorem duis aliquam nibh tristique lobortis, et inventore tortor tellus. Non a id sit. Tristique mauris et malesuada arcu sit, diam amet vestibulum et, integer vivamus varius, turpis lorem tellus urna sem lectus.</p>
                        </div>
                    </div>
                    <div class="some-block">
                        <div class="for-open-block">
                            <span class="plus">
                            <p>&#10010;</p>
                        </span>
                            <span class="minus">
                            <p>&ndash;</p>
                        </span>
                            <p class="some-text">Metus metus quis rhoncus vitae eum sociosqu, enim sit eu, vel iaculis aliquet faucibus, ultrices massa, molestie nunc?</p>
                        </div>
                        <div class="open-block">
                            <p>Vestibulum blandit. Donec velit gravida etiam, vivamus lobortis, consectetuer nam libero varius maecenas. Nunc fusce adipiscing. Elementum consequat egestas vestibulum at, ante maecenas elit, tellus in sed. Mollis in, elit
                                lorem duis aliquam nibh tristique lobortis, et inventore tortor tellus. Non a id sit. Tristique mauris et malesuada arcu sit, diam amet vestibulum et, integer vivamus varius, turpis lorem tellus urna sem lectus.</p>
                        </div>
                    </div>
                    <div class="some-block">
                        <div class="for-open-block">
                            <span class="plus">
                            <p>&#10010;</p>
                        </span>
                            <span class="minus">
                            <p>&ndash;</p>
                        </span>
                            <p class="some-text">Metus metus quis rhoncus vitae eum sociosqu, enim sit eu, vel iaculis aliquet faucibus, ultrices massa, molestie nunc?</p>
                        </div>
                        <div class="open-block">
                            <p>Vestibulum blandit. Donec velit gravida etiam, vivamus lobortis, consectetuer nam libero varius maecenas. Nunc fusce adipiscing. Elementum consequat egestas vestibulum at, ante maecenas elit, tellus in sed. Mollis in, elit
                                lorem duis aliquam nibh tristique lobortis, et inventore tortor tellus. Non a id sit. Tristique mauris et malesuada arcu sit, diam amet vestibulum et, integer vivamus varius, turpis lorem tellus urna sem lectus.</p>
                        </div>
                    </div>
                    <div class="some-block">
                        <div class="for-open-block">
                            <span class="plus">
                            <p>&#10010;</p>
                        </span>
                            <span class="minus">
                            <p>&ndash;</p>
                        </span>
                            <p class="some-text">Metus metus quis rhoncus vitae eum sociosqu, enim sit eu, vel iaculis aliquet faucibus, ultrices massa, molestie nunc?</p>
                        </div>
                        <div class="open-block">
                            <p>Vestibulum blandit. Donec velit gravida etiam, vivamus lobortis, consectetuer nam libero varius maecenas. Nunc fusce adipiscing. Elementum consequat egestas vestibulum at, ante maecenas elit, tellus in sed. Mollis in, elit
                                lorem duis aliquam nibh tristique lobortis, et inventore tortor tellus. Non a id sit. Tristique mauris et malesuada arcu sit, diam amet vestibulum et, integer vivamus varius, turpis lorem tellus urna sem lectus.</p>
                        </div>
                    </div>
                    <div class="some-block">
                        <div class="for-open-block">
                            <span class="plus">
                            <p>&#10010;</p>
                        </span>
                            <span class="minus">
                            <p>&ndash;</p>
                        </span>
                            <p class="some-text">Metus metus quis rhoncus vitae eum sociosqu, enim sit eu, vel iaculis aliquet faucibus, ultrices massa, molestie nunc?</p>
                        </div>
                        <div class="open-block">
                            <p>Vestibulum blandit. Donec velit gravida etiam, vivamus lobortis, consectetuer nam libero varius maecenas. Nunc fusce adipiscing. Elementum consequat egestas vestibulum at, ante maecenas elit, tellus in sed. Mollis in, elit
                                lorem duis aliquam nibh tristique lobortis, et inventore tortor tellus. Non a id sit. Tristique mauris et malesuada arcu sit, diam amet vestibulum et, integer vivamus varius, turpis lorem tellus urna sem lectus.</p>
                        </div>
                    </div>
                    <div class="some-block">
                        <div class="for-open-block">
                            <span class="plus">
                            <p>&#10010;</p>
                        </span>
                            <span class="minus">
                            <p>&ndash;</p>
                        </span>
                            <p class="some-text">Metus metus quis rhoncus vitae eum sociosqu, enim sit eu, vel iaculis aliquet faucibus, ultrices massa, molestie nunc?</p>
                        </div>
                        <div class="open-block">
                            <p>Vestibulum blandit. Donec velit gravida etiam, vivamus lobortis, consectetuer nam libero varius maecenas. Nunc fusce adipiscing. Elementum consequat egestas vestibulum at, ante maecenas elit, tellus in sed. Mollis in, elit
                                lorem duis aliquam nibh tristique lobortis, et inventore tortor tellus. Non a id sit. Tristique mauris et malesuada arcu sit, diam amet vestibulum et, integer vivamus varius, turpis lorem tellus urna sem lectus.</p>
                        </div>
                    </div>
                    <div class="some-block">
                        <div class="for-open-block">
                            <span class="plus">
                            <p>&#10010;</p>
                        </span>
                            <span class="minus">
                            <p>&ndash;</p>
                        </span>
                            <p class="some-text">Metus metus quis rhoncus vitae eum sociosqu, enim sit eu, vel iaculis aliquet faucibus, ultrices massa, molestie nunc?</p>
                        </div>
                        <div class="open-block">
                            <p>Vestibulum blandit. Donec velit gravida etiam, vivamus lobortis, consectetuer nam libero varius maecenas. Nunc fusce adipiscing. Elementum consequat egestas vestibulum at, ante maecenas elit, tellus in sed. Mollis in, elit
                                lorem duis aliquam nibh tristique lobortis, et inventore tortor tellus. Non a id sit. Tristique mauris et malesuada arcu sit, diam amet vestibulum et, integer vivamus varius, turpis lorem tellus urna sem lectus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="main-footer">
            <div class="container">
                <div class="all-footer">
                    <div class="logo">
                        <img src="../img/fetish-logo.png" alt="">
                    </div>
                    <div class="all-links">
                        <div class="one-part">
                            <a href="catalog.html">Каталог</a>
                            <a href="#">О компании</a>
                            <a href="delivery-pay.html">Доставка и оплата</a>
                        </div>
                        <div class="one-part">
                            <a href="delivery-pay.html">Бонусы</a>
                            <a href="FAQ.html">FAQ</a>
                            <a href="contact.html">Контакты</a>
                        </div>
                    </div>
                    <div class="contacts">
                        <a href="tel:8 (800) 000 00 40"><img src="../img/phone.png"> 8 (800) 000 00 40</a>
                        <a href="mailto:fetish@gmail.com"><img src="../img/mail.png"> fetish@gmail.com </a>
                        <a href="#"><img src="../img/location.png">г. Mocква, ул. Уличная 74 / 5</a>
                    </div>
                    <div class="social">
                        <a href="#"><img src="../img/telegram.png" alt="Telegram"></a>
                        <a href="#"><img src="../img/whatsup.png" alt="whatsup"></a>
                        <a href="#"><img src="../img/viber.png" alt="Viber"></a>
                        <a href="#"><img src="../img/youtube.png" alt="Youtube"></a>
                        <a href="#"><img src="../img/instagram.png" alt="Instagram"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <h5>© FETISH, 2019</h5>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/script.min.js"></script>
</body>

</html>