<footer>
    <div class="main-footer">
        <div class="container">
            <div class="all-footer">
                <div class="logo">
                    <img src="../img/fetish-logo.png" alt="" onclick="document.location.href='index.html'">
                </div>
                <div class="all-links">
                    <div class="one-part">
                        <a href="catalog.html">Каталог</a>
                        <a href="about-us.html">О компании</a>
                        <a href="delivery-pay.html">Доставка и оплата</a>
                    </div>
                    <div class="one-part">
                        <a href="delivery-pay.html#bonus">Бонусы</a>
                        <a href="FAQ.html">FAQ</a>
                        <a href="contact.html">Контакты</a>
                    </div>
                </div>
                <div class="contacts">
                    <a href="tel:8 (800) 000 00 40"><img src="../img/phone.png"><p> 8 (800) 000 00 40</p></a>
                    <a href="mailto:fetish@gmail.com"><img src="../img/mail.png"> <p>fetish@gmail.com</p></a>
                    <a href="#"><img src="../img/location.png"><p>г. Mocква, ул. Уличная 74 / 5</p></a>
                </div>
                <div class="social">
                    <a href="#"><img src="../img/telegram.png" alt="Telegram"></a>
                    <a href="#"><img src="../img/whatsup.png" alt="whatsup"></a>
                    <a href="#"><img src="../img/viber.png" alt="Viber"></a>
                    <a href="#"><img src="../img/youtube.png" alt="Youtube"></a>
                    <a href="#"><img src="../img/instagram.png" alt="Instagram"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <h5>© FETISH, 2019</h5>
        </div>
    </div>
</footer>